.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.topbar p {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-primary);
}
