.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 450px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}
