.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
}

.main {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
