.projectContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calculatedButtons,
.inputTake {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resouceTables {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.calculatedButtons {
  flex-direction: row;
}
.calculatedButtons button {
  flex: 1;
}
